/* Body styles */
body {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    background-color: antiquewhite;
    padding-top: 80px;
}

/* Navigation styles */
nav {
    font-family: 'Manrope', sans-serif;
    color: antiquewhite;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    align-items: center; /* Vertically center items */
    margin-bottom: 5px;
    
    
}

nav .item a {
    font-size: 1rem; /* Define size for menu items */
    padding-top: 20px;
}

/* Logo styling - twice the size of menu items */

    nav img {
    height: 2em; /* Initial height of the logo */
    /* Adjust the size of the logo compared to menu items */
    width: auto; /* Keep aspect ratio intact */
    transform: scale(2); /* Double the size of the logo */
       
}

h1 {
    text-align: center;
    margin-top: 2rem;
}

iframe {
    display: block;
    max-width: 300px;
    margin: 2rem auto;
    font-size: 10px;
    color: #cccccc;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 100;
}

.main-image {
    max-width: 100%; /* Ensure the image never exceeds the width of its container */
    height: auto;    /* Maintain aspect ratio */
    display: block;  /* Ensure there is no unwanted inline space around the image */
    margin: 0 auto;  /* Center the image */
}

/* Media query for even smaller screens */
@media (max-width: 768px) {
    .main-image {
        width: 90%;   /* Shrinks the image a bit more on small screens, keeping it proportional */
    }
}
    
    }

    nav img {
        height: rem; /* Increase logo size on mobile */
        padding-top: 1rem;
        top: auto;
    }

    .content {
          max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
    text-align: justify;
        margin-top; 15px;
        display: flex;
        flex-direction: column;
        
    }

    iframe {
        max-width: 100%;
        margin: 1rem auto;
    }
}

.body-corporate {
    max-width: 800px;
    margin: auto;
    padding: 0.5rem;
    text-align: justify;
}

.content {
    max-width: 800px;
    margin: 1rem auto;
    padding:  1rem 1rem;
    text-align: justify;
    margin: 1rem 10rem;
}



.body-main {
   font-family: 'Work Sans', sans-serif;
    color: #f5f6f7;
    background: url('CRO2467-R1-14-15.jpg') no-repeat center center fixed;
    background-size: fill; /* Ensures the image fits within the viewport without distortion */
    background-attachment: local; 
    background-color: black; /* Fallback color in case image doesn't load */
    margin: 0;
    padding: 0;
}

.homemenu {
    
}

span {
    
}
